POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=ecomdbms
POSTGRES_PORT=5432
DB_HOST=localhost
DB_TIMEZONE=Asia/Kolkata

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change-me
PGADMIN_PORT=5050
